body{
    font-family: 'Calibri', sans-serif;
}

header{
    text-align: center;
}

header h2{
    background-color: #efefef;
}

li{
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

em{
    font-style: italic;
    font-weight: bold;
}

footer{
    list-style-type: none;
}

footer:nth-child(2n){
    padding-left: left;
}

footer:nth-child(2n+1){
    text-align: right;
}
