li{
    list-style-type: none;
    padding-bottom:2px;
    margin-bottom:5px;
}

li:nth-child(2n+1){
    background-color: #4a4a4a;
    font-style: italic;
    color:#ffffff;
}

li:nth-child(2n){
    background-color: #afafaf;
}

ul{
    padding-left: 0px;
}